<?xml version="1.0"?>

<config>
    <modules>
        <Inkl_GoogleTagManager>
            <version>0.1.0</version>
        </Inkl_GoogleTagManager>
    </modules>
    <global>
        <blocks>
            <inkl_googletagmanager>
                <class>Inkl_GoogleTagManager_Block</class>
            </inkl_googletagmanager>
        </blocks>

        <models>
            <inkl_googletagmanager>
                <class>Inkl_GoogleTagManager_Model</class>
            </inkl_googletagmanager>
        </models>

        <helpers>
            <inkl_googletagmanager>
                <class>Inkl_GoogleTagManager_Helper</class>
            </inkl_googletagmanager>
        </helpers>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <Inkl_GoogleTagManager>
                    <files>
                        <default>Inkl_GoogleTagManager.csv</default>
                    </files>
                </Inkl_GoogleTagManager>
            </modules>
        </translate>
    </adminhtml>

	<frontend>
		<layout>
			<updates>
				<inkl_googletagmanager>
					<file>inkl_googletagmanager.xml</file>
				</inkl_googletagmanager>
			</updates>
		</layout>

		<events>
			<googletagmanager_render_tag_before>
				<observers>
					<inkl_googletagmanager_googletagmanager_render_tag_before>
						<type>singleton</type>
						<class>inkl_googletagmanager/observer</class>
						<method>googletagmanager_render_tag_before</method>
					</inkl_googletagmanager_googletagmanager_render_tag_before>
				</observers>
			</googletagmanager_render_tag_before>
		</events>
	</frontend>

</config>
